<html>
    <head> 
      <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="nabidka">
            <a class="jedna" href="{{ url_for("index") }}">Hlavní stránka</a>
            <a class="dva" href="{{ url_for("rozvrh") }}">Rozvrh</a>
            <a class="tri" href="{{ url_for("random_meme") }}">Random meme</a>
            <a class="ctyri" href="{{ url_for("countdown") }}">PaDko</a>
            {% if current_user.is_anonymous %}
            <a class="pet" href="{{ url_for("login") }}">Přihlásit se</a>
            {% else %}
            <a class="sest" href="{{ url_for('user', username=current_user.username) }}">Profil</a>
            <a class="sedm" href="{{ url_for("logout") }}">Odhlásit se</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>