<!DOCTYPE html>
<html>
<head>
	<title>Random meme - podmínky</title>
	<link rel="stylesheet" type="text/css" href="../static/disclaimer.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<h1>Podmínky random meme buttonu</h1>
	<h3>1) Zmáčknutím tlačítka souhlasíte s tím, že vám nevadí obsah s rasistickým, antisemitistickým či jakkoli jinak urážlivým podtextem.</h3>
	<h3>2) Takový obsah je určen pouze k pobavení, nejedná se o propagaci nenávisti.</h3>
	<h3>Pokud s tímto nemáte problém, můžete se v klidu <a href="{{ url_for("random_meme") }}">vrátit zpět</a>.</h3>
	<img class="vlajka" src="kekistan.jpg" height="350" width="650">
</body>
</html>		