<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Random meme</title>
	<link rel="stylesheet" type="text/css" href="../static/random_meme.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	{% extends "base.html" %}
	{% block content %}
	<div>
	<h1>Random meme</h1>
	<h3>Zmáčkni tlačítko, a nech si zobrazit náhodný meme z naší úžasné kolekce.</h3>
   	</div>
	<button class="tlacitko" id="jsstyle" onclick="image()">Ukaž</button> 
	<script>
	function image() { 
	var img = [{src: "1.jpg", 
	width: "400", 
	height: "400"}, 
	{src: "2.jpg", 
	width: "400", 
	height: "400" }, 
	{src: "3.jpg", 
	width: "400", 
	height: "400"}];

	var arr = [];
	for (var i = 0; i < img.length; i++) { 
	arr[i] = new Image(); 
	arr[i].src = img[i].src; 
	arr[i].width = img[i].width; 
	arr[i].height = img[i].height;

	} 
	var newImage = arr[ Math.floor(Math.random()*arr.length)];
	var images = document.getElementsByTagName('img'); 
	for (var j = 0; j < images.length; j++) { 
	images[0].parentNode.removeChild(images[0]); 
	} 
	document.body.appendChild(newImage); 
	}
	{% endblock %}
	</script>	
	<h3 class="disclaimer">Zmáčknutím tlačítka souhlasíš s <a href="{{ url_for("disclaimer") }}"> podmínkami</a>.</h3>


</body>
</html>